.mainheading{ 
    text-align:center;
} 
.text{
    text-align:center;
}
.btn {
    background-color: black;
    color: white;
     border: 2px solid #555555;
}

.btn:hover {
    background-color: #555555;
    color:red;
} 

#hero {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_J1XZVhrgEnKh0gIsD5ytYofWHf_fRd-yL931kQaqFhAw-U4s");
    background-size: cover;
    background-position: center center;
    position:relative;
    top:0;
    bottom:0;
    height:100vh;
    z-index:-10;
}

#hero-overlay { 
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index: -5;
}

 


        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        