#section1{
    background-image: url("Images/EiffleTower.jpg"); 
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

#section2{
    background-image: url("Images/Newyork1.jpg"); 
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

#section3{
    background-image: url("Images/Australia.jpg"); 
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}
.section{
    text-align: center;
    color:white; 
    text-decoration: black;
  
}